{% extends 'base.html' %}

{% block 'title' %} 
    Colaboradores - Conveniência SCI 2.0
{% endblock %}

{% block 'content' %}
  <div style="background-color: transparent; height: 50px; margin-bottom: 40px;">         
    {% if error_message %} 
      <div id="errorAlert" class="alert alert-danger alert-dismissible fade show shadow" role="alert">
        <i class="bi bi-exclamation-triangle-fill pe-2"></i>
        {{ error_message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endif %}
  </div>

  <div class="self-center d-flex flex-column justify-content-center">
    <div class="d-flex justify-content-between align-middle mb-4">
      <div class="pt-2" style="color: #2D3560;">
        <h3>
          Colaboradores Cadastrados
        </h3>
      </div>

      <a href="{% url 'CadastroColaborador' %}" class="btn text-light fs-5 shadow" role="button" style="height: 45px; background-color: #2D3560; padding-top: 5px;">
        Cadastrar Colaborador
      </a>
    </div>

    <table class="table align-middle mb-0 bg-light shadow">
      <thead class="border-bottom-1">
        <tr>
          <th class="fw-semibold" style="color: #2D3560; font-size: large;">Nome</th>
          <th class="fw-semibold" style="color: #2D3560; font-size: large;">CPF</th>
          <th class="fw-semibold" style="color: #2D3560; font-size: large;">Login</th>
          <th class="fw-semibold" style="color: #2D3560; font-size: large;">Situação</th>
          <th class="fw-semibold" style="color: #2D3560; font-size: large;">Opções</th>
        </tr>
      </thead>

      <tbody>
        {% for colaborador in colaboradores %}
          <tr>
            <td style="color: #2D3560;">{{colaborador.nome}}</td>
            <td style="color: #2D3560;">{{colaborador.cpf}}</td>
            <td style="color: #2D3560;">{{colaborador.login}}</td>
            <td style="color: #2D3560;">
              {% if colaborador.situacao %}
                <span class="badge text-bg-success">Ativo</span>
              {% else %}
                <span class="badge text-bg-danger">Inativo</span>
              {% endif %}
            </td>

            <td>
              <div class="row g-2">
                <!-- Botão editar-->
                <div class="col me-2 " style="max-width: 20px;">
                  <a href="{% url 'EditarColaborador' colaborador.id %}" class="btn ps-0 pe-0" data-mdb-toggle="tooltip" data-mdb-placement="left" title="Editar" type="submit" role="button" style="color: #2D3560; padding-top: 2px;">
                    <i class="bi bi-pencil-square" style="font-size: 1.5rem;"></i>
                  </a>
                </div>         
              </div>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}