{% extends 'base.html' %}

{% block 'title' %}
    Cadastro - Conveniência SCI 2.0
{% endblock %}

{% block 'content' %}    
    <div class="row justify-content-center" style="background-color: transparent; height: 50px; margin-bottom: 40px;">         
        {% if messages %}
            {% for message in messages %}
                {% if message.tags == 'error' %}
                    <div id="errorAlert" class="alert alert-danger alert-dismissible col-5 fade show shadow mb-5" role="alert">
                        <i class="bi bi-exclamation-triangle-fill pe-2"></i>
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% elif message.tags == 'success' %}
                    <div id="successAlertProduto" class="alert alert-success alert-dismissible col-5 fade show shadow mb-5" role="alert">
                        <i class="bi bi-check-circle-fill pe-2"></i>
                        {{ message }}
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>

    <div class="row justify-content-center"> 
        <div class="col-5">
            <div class="p-4 p-md-5 shadow rounded-3" style="background-color: #FFFFFF;">
                <div class="text-center mb-3" style="color: #2D3560;">
                    <h3>
                        Cadastro Produto
                    </h3> 
                </div>

                <form action="{% url 'CadastroProduto' %}" method="POST">
                    {% csrf_token %}
    
                    <div class="mb-3">
                        <label for="nome" class="form-label" style="font-size: large; margin-bottom: 4px; color: #2D3560;">Nome</label>
                        <input type="text" class="form-control" id="nome"  name="nome" value="{{ form_data.nome }}" style="height: 45px; background-color: #F3F8FA; color: #2D3560;" required>
                    </div>
    
                    <div class="mb-3">
                        <label for="codigo_barras" class="form-label" style="font-size: large; margin-bottom: 4px; color: #2D3560;">Código de Barras</label>
                        <input type="text" class="form-control" id="codigo_barras" name="codigo_barras" maxlength="5" value="{{ form_data.codigo_barras }}" style="height: 45px; background-color: #F3F8FA; color: #2D3560;" required>
                    </div>
    
                    <div style="margin-bottom: 40px;">
                        <label for="preco" class="form-label" style="font-size: large; margin-bottom: 4px; color: #2D3560;">Preço</label>
                        <input type="text" class="form-control" id="preco" name="preco" onblur="converterVirgulaParaPonto(this)" value="{{ form_data.preco }}" style="height: 45px; background-color: #F3F8FA; color: #2D3560;" required>
                    </div>
    
                    <div class="d-flex justify-content-center mb-3">
                        <button type="submit" class="btn text-light fs-5" style="height: 45px; width: 300px; background-color: #2D3560;">Cadastrar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}