{% extends 'base.html' %}
{% load static %}

{% block 'head' %}
  <link rel="stylesheet" href="{% static 'produtos/produtos.css' %}">
{% endblock %}

{% block 'title' %} 
    Produtos - Conveniência SCI 2.0
{% endblock %}

{% block 'content' %}
  <div class="row justify-content-center" style="background-color: transparent; height: 50px; margin-bottom: 40px;">         
    {% if error_message %} 
      <div id="errorAlert" class="alert alert-danger alert-dismissible col-7 fade show shadow mb-5" role="alert">
        <i class="bi bi-exclamation-triangle-fill pe-2"></i>
        {{ error_message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endif %}
  </div>  

  <div class="col self-center d-flex flex-column justify-content-center">
    <div class="d-flex justify-content-between align-middle mb-4">
      <div class="pt-2" style="color: #2D3560;">
        <h3>
          Produtos Cadastrados
        </h3>
      </div>

      <a href="{% url 'CadastroProduto' %}" class="btn text-light fs-5 shadow" role="button" style="height: 45px; background-color: #2D3560; padding-top: 5px;">
        Cadastrar Produto
      </a>
    </div>

    <div class="px-4 pb-4 shadow bg-white rounded-3" style="max-height: 600px; overflow-y: auto;">
      <table class="table">
        <thead>
          <tr>
            <th style="width: 400px;">Nome</th>
            <th style="width: 250px;">Código de Barras</th>
            <th style="width: 150px;">Preço</th>
            <th style="width: 200px;">Categoria</th>
            <th style="width: 150px;">Situação</th>
            <th style="width: 190px;">Opções</th>
          </tr>
        </thead>  
  
        <tbody style="height: 400px;">
          {% for produto in produtos %}
            <tr>
              <td style="width: 400px;">{{produto.nome}}</td>
              <td style="width: 250px;">{{produto.codigo_barras}}</td>
              <td style="width: 150px;">{{produto.preco}}</td>
              <td style="width: 200px;">{{produto.categoria}}</td>
              <td style="width: 150px;">
                {% if produto.situacao %}
                  <span class="badge text-bg-success">Ativo</span>
                {% else %}
                  <span class="badge text-bg-danger">Inativo</span>
                {% endif %}
              </td>
  
              <td style="width: 188px; padding: 1px 6px;">
                <!-- Botão editar-->
                <a class="btn p-0" data-mdb-toggle="tooltip" data-mdb-placement="left" title="Editar" type="submit" role="button" href="{% url 'EditarProduto' produto.id %}" style="color: #2D3560;">
                  <i class="bi bi-pencil-square" style="font-size: 1.5rem;"></i>
                </a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}