{% extends 'base.html' %}

{% block 'title' %} 
    Relatórios - Conveniência SCI 2.0
{% endblock %}

{% block 'content' %}
    <div class="container">
        <nav>
            <div class="mb-4" style="color: #2D3560;">
                <h1>Relatórios</h1>
            </div>

            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <button class="nav-link active" id="nav-total-tab" data-bs-toggle="tab" data-bs-target="#nav-total" type="button" role="tab" aria-controls="nav-total" aria-selected="true">Total Consumido</button>
                <button class="nav-link" id="nav-detalhado-tab" data-bs-toggle="tab" data-bs-target="#nav-detalhado" type="button" role="tab" aria-controls="nav-detalhado" aria-selected="false">Consumo Detalhado</button>
            </div>
        </nav>

        <div class="tab-content mt-5" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-total" role="tabpanel" aria-labelledby="nav-total-tab" tabindex="0">
                <div class="row justify-content-start w-100">
                    <div class="col-auto">
                        <label for="referencia" class="form-label fw-semibold" style="color: #2D3560; font-size: 20px; padding-top: 6px;">
                            Relatório Referência Atual
                        </label>
                    </div>
    
                    <div class="col-auto">
                        <form action="">
                            <button type="submit" class="btn text-light" style="font-size: 18px;background-color: #2D3560;">Gerar Relatório</button>
                        </form>
                    </div>
                </div>
            </div>

            <div class="tab-pane fade" id="nav-detalhado" role="tabpanel" aria-labelledby="nav-detalhado-tab" tabindex="0">
                <form>
                    <div class="row justify-content-between">
                        <div class="col-auto fw-semibold" style="color: #2D3560; font-size: 20px; padding-top: 6px;">
                            <label for="dataInicial">Data Inicial:</label>
                        </div>

                        <div class="col">
                            <input type="date" class="form-control" id="dataInicial" style="height: 43px;">
                        </div>

                        <div class="col-auto fw-semibold" style="color: #2D3560; font-size: 20px; padding-top: 6px;">
                            <label for="dataFinal">Data Final:</label>
                        </div>

                        <div class="col">
                            <input type="date" class="form-control" id="dataFinal" style="height: 43px;">
                        </div>

                        <div class="col-auto fw-semibold" style="color: #2D3560; font-size: 20px; padding-top: 6px;">
                            <label for="colaborador">Colaborador:</label>
                        </div>

                        <div class="col">
                            <select class="form-control" id="colaborador" style="height: 43px;">
                                <option value="">Selecione o colaborador</option>
                                
                            </select>
                        </div>
                        
                        <div class="col-auto">
                            <button type="submit" class="btn text-light" style="font-size: 18px;background-color: #2D3560;">Gerar Relatório</button>
                        </div>
                    </div>
                </form>
            </div>   
        </div>


        <!-- <div class="row  justify-content-center">
            <div class="mb-4" style="color: #2D3560;">
                <h1>Relatórios</h1>
            </div>
        
            <div class="row">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a id="mostrar_relatorio_total" href="#" type="button" role="button">Total Consumido</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a id="mostrar_relatorio_detalhado" href="#" type="button" role="button">Consumo Detalhado</a>
                        </li>
                    </ol>
                </nav>
            </div>
           
            <div id="total_consumido" class="row justify-content-center mb-5">
                <div class="row justify-content-start w-100">
                    <div class="col-auto ps-0">
                        <label for="referencia" class="form-label fw-semibold" style="color: #2D3560; font-size: 20px; padding-top: 6px;">
                            Relatório Referência Atual
                        </label>
                    </div>

                    <div class="col-auto">
                        <form action="">
                            <button type="submit" class="btn text-light" style="font-size: 18px;background-color: #2D3560;">Gerar Relatório</button>
                        </form>
                    </div>
                </div>
            </div>
    
            <div id="consumido_detalhado" class="row justify-content-center mb-5 div2" style="display: none;">
                <form>
                    <div class="row justify-content-between">
                        <div class="col-auto fw-semibold" style="color: #2D3560; font-size: 20px; padding-top: 6px;">
                            <label for="dataInicial">Data Inicial:</label>
                        </div>

                        <div class="col">
                            <input type="date" class="form-control" id="dataInicial" style="height: 43px;">
                        </div>

                        <div class="col-auto fw-semibold" style="color: #2D3560; font-size: 20px; padding-top: 6px;">
                            <label for="dataFinal">Data Final:</label>
                        </div>

                        <div class="col">
                            <input type="date" class="form-control" id="dataFinal" style="height: 43px;">
                        </div>

                        <div class="col-auto fw-semibold" style="color: #2D3560; font-size: 20px; padding-top: 6px;">
                            <label for="colaborador">Colaborador:</label>
                        </div>

                        <div class="col">
                            <select class="form-control" id="colaborador" style="height: 43px;">
                                <option value="">Selecione o colaborador</option>
                                
                            </select>
                        </div>
                        
                        <div class="col-auto">
                            <button type="submit" class="btn text-light" style="font-size: 18px;background-color: #2D3560;">Gerar Relatório</button>
                        </div>
                    </div>
                </form>
            </div>
        </div> -->
    </div>
{% endblock %}